<template>
    <div>

        <table
                v-if="Items.length >0"
        >
            <tr class="tblhead">
                <td>Услуга</td>
                <td>Продолжительность, мин</td>
                <td>Цена, руб</td>
            </tr>
            <tr
                    class="item"
                    v-for="(itm,index) in Items"
                    @click="ItmClick(index)"
            >
                <td> {{itm.name}} </td>
                <td class="r"> {{itm.duration}} </td>
                <td class="r"> {{itm.price}} </td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Itmstbl",
        props:[ "Items"],
        methods:{
            ItmClick(index){
                this.$emit("ItmClick", index)
            }
        }
    }
</script>

<style scoped>
    table{
        width: 100%;
        border: 1px solid;
    }
    .tblhead{
        text-align: center;
    }
    .r{
        text-align: right;
    }
</style>