<template>
    <div class="modal fade show"
         id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
         v-if="show"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{staff.lname}} {{staff.fname}} {{staff.mname}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="width: 50%;">
                        <Itmstbl
                                :Items="slctItems"
                                @ItmClick="delItm"
                        />
                    </div>
                    <div style="width: 50%">
                        <Itmstbl
                                :Items="refitems"
                                @ItmClick="addItm"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            @click="hide"
                    >
                        Close
                    </button>
                    <button
                            type="button"
                            class="btn btn-primary"
                            @click="saveOrder"
                    >
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Itmstbl from './ItmsTbl.vue'
    import axios from 'axios';
    Vue.component('Itmstbl', Itmstbl);
    export default {
        name: "Order",
        props:[
            "show", "staff", "HR", "refitems", "watchDate"
        ],
        data: function (){
            return{
                n: 1,
                slctItems:[],
                order:[]
            }
        },

        methods:{
            hide(){
                this.slctItems = []
                this.$emit('hide');
            },
            addItm(i){
                this.slctItems.push(this.refitems[i])
                this.refitems.splice(i, 1);
            },
            delItm(i){
                this.refitems.push(this.slctItems[i])
                this.slctItems.splice(i, 1);
            },
            saveOrder(){
                this.order.staffid = this.staff.id;
                this.order.begdate = this.watchDate;
                this.order.beghr = this.HR;
                this.order.orditems = this.slctItems;
                console.log(this.order)
            }
        }
    }
</script>

<style scoped>
    .modal{
        display: block;
    }
    .modal-body{
        display: flex;
    }
    .modal-dialog{
        max-width: 70%;
    }

    .item{
        cursor: pointer;
    }


</style>