<template>
    <div>
        <button @click="orderShow = true">Показать</button>
        <div>
            <input type='date'
                   :value='watchDate.toJSON().substring(0,10)'
                   @input='setWatchDate($event.target.value)'
            >
        </div>
        <div style="display: flex;">
            <div style="width: 10%">
                <div class="header"></div>
                <div v-for="n in 15" class="HRLBL">
                    {{ vbeghr + n}}:00
                </div>
            </div>
            <div
                    v-for="stf in staff"
                    class="staff"
            >
                <staff
                        :stf=stf
                        :vbeghr=vbeghr
                        @tstclick="partstClick"
                        @neworder="NewOrder"
                >

                </staff>

            </div>

        </div>
        <Order
                :show=orderShow
                :staff="CurStf"
                :refitems="refitems"
                :HR="vHr"
                :watchDate="FrmtDate()"
                @hide="setOrderShow(false)"
        />

    </div>
</template>

<script>
    import axios from 'axios';
    import staff from './StaffComponent.vue'
    import Order from './Order.vue'
    export default {
        name: "Schedule",
        data: function () {
            return {
                vbeghr: 6,
                staff: null,
                CurStf: null,
                watchDate:  new Date(),
                orderShow: false,
                vHr: null,
                refitems: null
            }
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            partstClick(name){
                alert(name)
            },
            setWatchDate(dt){
                this.watchDate = new Date(dt)
                this.fetchData()
            },
            FrmtDate(){
                var today = this.watchDate
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                return dd + '.' + mm + '.' + yyyy;
            },
            fetchData() {
                axios
                    .post('/api/getdayschedule', {
                        date: this.FrmtDate()
                    })
                    .then(response => {
                        this.staff = response.data;
                    });
            },
            setOrderShow(val){
                this.orderShow = val
            },
            NewOrder(stf, hr, refitems){
                this.CurStf = stf
                this.vHr = hr
                this.orderShow = true
                this.refitems = refitems
            }
        },
        components: {
            staff,
            Order
        }
    }
</script>

<style scoped>
    .HRLBL{
        text-align: right;
        border-top: solid 1px;
        height: 50px
    }
    .header{
        text-align: center;
        height: 50px;
    }
    .staff{
        width: 20%;
        margin-left: 10px;
    }
</style>