<template>
    <div>
        <div  v-if="loaded">
            <div class="header"
                >
                {{stf.lname}} {{stf.fname}} {{stf.mname}}
            </div>
            <div v-for="n in 15"
                 :class=getClass(n)
                 @click="NewOrder(n)"
            >
            </div>
        </div>
        <div v-if="!loaded">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
        </div>
    </div>
</template>

<script>

    export default {
        name: "StaffComponent",
        props: ['stf', 'vbeghr'],
        data: function () {
            return {
                refitems:null,
                _refitems:null,
                loaded:false
            }
        },
        beforeMount() {
            this.getRefItems();
        },
        methods: {
            chkWrkHR(n){
                n = n + this.vbeghr
                return ((parseInt(n) >= parseInt(this.stf.beghr)) && (parseInt(n) <= parseInt(this.stf.endhr)))
            },
            getClass(n) {
                return this.chkWrkHR(n) ? "HRw" :"HRnw"
            },
            NewOrder(n){
                if (this.chkWrkHR(n)){
                    //изврат с JSON нужен чтобы создать именно копию, без ссылки
                    this.$emit('neworder', this.stf, n + this.vbeghr, JSON.parse(JSON.stringify(this.refitems)) );
                }

            },
            async getRefItems(){
                 axios
                    .post('/api/getstfrefitems', {
                        stfid: this.stf.id
                    })
                    .then(response => {
                        this.refitems = response.data;
                        this.loaded = true
                    });


            }

        }
    }
</script>

<style scoped>
    .HRw{
        text-align: right;
        border-top: solid 1px;
        height: 50px;
        cursor: pointer;
    }

    .HRnw{
        text-align: right;
        height: 50px
    }
    .header{
        text-align: center;
        height: 50px;
    }

</style>